<header class="site-header">
    <div class="header-content">
        <a href="{{ url_for('dashboard') }}" class="logo">
            <img class="logo-imagem" src="../static/img/icone-site.png" height="75" width="75"/>
        </a>
        <button id="sandwich-menu" class="sandwich-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav class="header-links">
            <ul>
                <li><a href="{{ url_for('cadastro_servicos') }}">Cadastrar Serviços</a></li>
                <li><a href="{{ url_for('meus_workes') }}">Meus Workes</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="{{ url_for('logout') }}">Sair</a></li>

            </ul>
        </nav>
    </div>
</header>