<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Prestador</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-cadastro-servico.css') }}">
</head>
<body>

<header class="header">

    <h1>Cadastro de Prestador</h1>
    <a href="{{url_for('dashboard')}}" class="btn-back">Voltar</a>
</header>

<main class="form-card">
    <h2>Informe as seguintes informações para concluir o cadastro:</h2>

    <form method="post">
        <div class="form-group">
            <input type="text" name="nome" placeholder="Nome do serviço">
        </div>

        <div class="section-title">Endereço</div>

        <div class="form-group">
            <input type="text" id="cep" placeholder="CEP">
        </div>

        <div class="form-group">
            <input type="text" id="log" placeholder="Logradouro">
        </div>

        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 15px;">
            <div class="form-group">
                <input type="text" name="cidade" id="cidade" placeholder="Cidade">
            </div>
            <div class="form-group">
                <input type="text" name="uf" id="uf" placeholder="Estado">
            </div>
        </div>

        <div class="form-group">
            <input type="text" name="descricao" placeholder="Número">
        </div>

        <div class="form-group">
            <label>Telefone:</label>
            <input type="tel" name="telefone" placeholder="(00) 00000-0000">
        </div>

        <div class="form-group">
            <label>Link (site, instagram, whatsapp):</label>
            <input type="url" name="link" placeholder="https://...">
        </div>

        <div class="form-group">
            <textarea rows="4" placeholder="Descrição"></textarea>
        </div>

        <button type="submit" class="btn-submit">Cadastrar</button>
    </form>
    {% if sucesso %}
    <div id="modal-sucesso" class="modal-overlay">
        <div class="modal-content">
            <span class="close-button"
                  onclick="document.getElementById('modal-sucesso').style.display='none'">&times;</span>
            <div class="icon-check">✅</div>
            <h2>Sucesso!</h2>
            <p>{{ sucesso }}</p>
            <button class="btn-ok" onclick="document.getElementById('modal-sucesso').style.display='none'">OK</button>
        </div>
    </div>
    {% endif %}
</main>

<script>
     const modal = document.getElementById('modal-sucesso');
        if (modal) {
            setTimeout(() => {
                modal.style.display = 'none';
            }, 3000);
        }

    document.getElementById("cep").addEventListener("change", async function(e){
        var valor = e.target.value;

        if (valor.length < 8) return;

        try{
            var resposta = await fetch(`https://viacep.com.br/ws/${valor}/json/`)

            if (resposta.ok){
                var data = await resposta.json()

                if (data.erro){
                    alert("O cep não foi encontrado");
                    return
                }

                document.getElementById("log").value = data.logradouro
                document.getElementById("cidade").value = data.localidade
                document.getElementById("uf").value = data.uf
            }
        }catch (ex){
            alert(ex);
        }
    });
</script>
</body>
</html>