<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Serviço</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-cadastro-servico.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

{% include "components/header.html" %}

<main class="form-card">
    <h2>Editar serviço</h2>


    <form method="POST">
        <div class="form-group">
            <input type="text" name="nome" placeholder="Nome do serviço" value="{{ servico.nome }}" required>
        </div>

        <div class="form-group">
            <input type="text" id="cep" name="cep" placeholder="CEP" value="{{ servico.cep }}" required>
        </div>

        <div class="form-group">
            <input type="text" id="log" name="logradouro" placeholder="Logradouro"
                   value="{{ servico.logradouro }}" required>
        </div>

        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 15px;">
            <div class="form-group">
                <input type="text" id="cidade" name="cidade"
                       value="{{ servico.cidade }}" placeholder="Cidade" required>
            </div>
            <div class="form-group">
                <input type="text" id="uf" name="uf"
                       value="{{ servico.estado }}" placeholder="Estado" required>
            </div>
        </div>

        <div class="form-group">
            <input type="text" name="numero"
                   value="{{ servico.numero }}" placeholder="Nº" required>
        </div>

        <div class="form-group">
            <label>Telefone:</label>
            <input type="tel" name="telefone"
                   value="{{ servico.telefone }}" placeholder="(00) 00000-0000">
        </div>

        <div class="form-group">
            <label>Link:</label>
            <input type="url" name="link"
                   value="{{ servico.link }}" placeholder="https://..." >
        </div>

        <div class="form-group">
            <textarea rows="4" name="descricao" required placeholder="Descrição" >{{ servico.descricao }}</textarea>
        </div>

        <div style="display: flex; gap: 15px; margin-top: 20px; flex-direction: column;">
            <button type="submit"
                    style="background-color: #ff8c00; color: white; padding: 12px 20px; border: none; border-radius: 8px; cursor: pointer; ">
                Salvar Alterações
            </button>
        </div>
    </form>


    <form action="{{ url_for('deletar_servico', id=servico.id) }}"
          method="POST"
          onsubmit="return confirm('Tem certeza que deseja deletar este serviço?');"
          style="margin-top: 15px; display: flex; flex-direction: column;">

        <button type="submit"
                style="background-color: #dc3545; color: white; padding: 12px 20px; border: none; border-radius: 8px; cursor: pointer; " >
            Deletar Serviço
        </button>
    </form>


</main>
