<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Serviço</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-cadastro-servico.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

{% include "components/header.logado.html" %}

<main class="form-card">
    <h2>Editar serviço</h2>

    <form method="POST">
        <div class="form-group">
            <input type="text" name="nome" placeholder="Nome do serviço" value="{{ servico.nome }}" required>
        </div>

        <div class="form-group">
            <input type="text" id="cep" name="cep" placeholder="CEP" value="{{ servico.cep }}" required>
        </div>

        <div class="form-group">
            <input type="text" id="log" name="logradouro" placeholder="Logradouro" value="{{ servico.logradouro }}" required>
        </div>

        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 15px;">
            <div class="form-group">
                <input type="text" id="cidade" name="cidade" placeholder="Cidade" value="{{ servico.cidade }}" required>
            </div>
            <div class="form-group">
                <input type="text" id="uf" name="uf" placeholder="Estado" value="{{ servico.estado }}" required>
            </div>
        </div>

        <div class="form-group">
            <input type="text" name="numero" placeholder="Número" value="{{ servico.numero }}" required>
        </div>

        <div class="form-group">
            <label>Telefone:</label>
            <input type="tel" name="telefone" placeholder="(00) 00000-0000" value="{{ servico.telefone }}">
        </div>

        <div class="form-group">
            <label>Link (site, instagram, whatsapp):</label>
            <input type="url" name="link" placeholder="https://..." value="{{ servico.link }}">
        </div>

        <div class="form-group">
            <textarea rows="4" name="descricao" placeholder="Descrição"  required>{{ servico.descricao }}</textarea>
        </div>

        <button type="submit" class="btn-submit">Salvar Alterações</button>
    </form>
</main>
<script>
    document.getElementById("cep").addEventListener("change", async function(e){
        const valor = e.target.value.replace(/\D/g, '');

        if (valor.length !== 8) return;

        try {
            const resposta = await fetch(`https://viacep.com.br/ws/${valor}/json/`);
            if (resposta.ok) {
                const data = await resposta.json();
                if (data.erro) {
                    alert("O CEP não foi encontrado");
                    return;
                }
                document.getElementById("log").value = data.logradouro;
                document.getElementById("cidade").value = data.localidade;
                document.getElementById("uf").value = data.uf;
            }
        } catch (ex) {
            console.error("Erro na busca do CEP:", ex);
        }
    });
</script>
</body>
</html>