<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Workes</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/workes.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

{% include "components/header.html" %}


<main id="results-container" class="results-container">
    {% if servicos %}
    {% for servico in servicos %}
        <div class="result-item">

            <div class="card-header">
                <div>
                    <h3>{{servico.nome}}</h3>
                    <span class="location">{{servico.local}}</span>
                </div>
            </div>

                <p class="description">
                    {{servico.descricao}}
                </p>

                <div class="footer-card">
                    <div class="phone">
                        {{servico.telefone}}
                    </div>

                    {% if servico.link %}
                    <a href="{{servico.link}}" target="_blank" class="link-servico">
                        Ver site
                    </a>
        {% endif %}

        <a href="/editar/{{servico.id}}" target="_blank" class="btn-card">
            Editar
        </a>
    </div>

</div>
{% endfor %}
    {% else %}
    <p>Nenhum servico encontrado</p>
    {% endif %}
</main>

<footer class="site-footer">
    <p>&copy; 2025 Workes. Todos os direitos reservados.</p>
</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
