<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Prestador de Serviços</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prestador.css') }}">
</head>
<body>
{% include "components/header.html" %}
<div class="container">
    {% if usuario == "not found" %}
    <div class="perfil-header">
        <h1>Usuario não encontrado</h1>
    </div>
    {% else %}
    <div class="perfil-header">
        <div class="perfil-info">
            <h1>{{usuario.nome}}</h1>
            <p class="perfil-descricao">
                {% if usuario.descricao %}
                {{ usuario.descricao }}
                {% endif %}
            </p>
            <p class="perfil-email">{{usuario.email}}</p>

        </div>
        <aside class="info-prestador">
            <div class="perfil-upload">
                <img id="previewFoto"
                     src="{{ usuario.foto_perfil if usuario.foto_perfil else 'https://thumbs.dreamstime.com/b/perfil-de-usu%C3%A1rio-do-vetor-avatar-padr%C3%A3o-179376714.jpg' }}"
                     alt="Foto de perfil">
            </div>
    </div>
    <section class="sessao-servico">
        <h2 class="sessao-titulo">Serviços Cadastrados</h2>
        <div class="grid-servicos">
            {% for servico in servicos %}
            <div class="card-servico">
                <div class="servico-nome">{{servico.nome}}</div>
                <p class="servico-desc">{{servico.descricao}}</p>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</div>

<footer class="site-footer">
    <p>&copy; 2025 Workes. Todos os direitos reservados.</p>
</footer>

</body>
</html>